.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: min-content;

  transition: opacity 0.2s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
  }

  &__price {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
  }

  &__name {
    display: flex;
    align-items: start;
    justify-content: center;

    width: 100%;
    min-height: 48px;

    text-align: center;
  }
}
