.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  height: 1080px - 88px; // minus header height
  max-height: 1080px - 88px; // minus header height
}
