.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  height: 90vh; // minus header height
}
