.section {
  position: relative;

  overflow-y: auto;
  grid-column: 2 / span 2;

  box-sizing: border-box;
  margin: 0;
  padding: 0 8px 0 0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #2f2f37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585ad;
  }

  &__description {
    max-width: 320px;
    padding: 0;
  }

  &_scrollable {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    padding-right: 8px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}
