.img {
  width: 520px;
  height: 240px;

  &__caption {
    max-width: 520px;
    text-align: center;
  }
}

.list {
  display: flex;
  column-gap: 20px;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
}
