.header {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;

  background-color: #1c1c21;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
  }

  &__box {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.list {
  display: flex;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;

  &__item {
    border-radius: 40px;
  }
}

.link {
  display: flex;
  align-self: center;
  justify-content: center;

  min-width: max-content;

  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &__wrap {
    margin: 0 0 0 auto;
    border-radius: 40px;
  }

  &__label {
    cursor: pointer;
  }
}
